<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>To Do List</title>
</head>
<header>
  <p>This is the header.</p>
  <a href="/">Home List</a>
  <a href="/work">Work List</a>
  <a href="/about">About</a>
</header>

<body>
  <%- body %>
</body>

<footer>
  <p>This is the footer.</p>
</footer>

</html>