
<body>

  <div class="container"> 
    <h1> <%= day %></h1>
    <h2> <%= title %></h2>
   <form action="/" method="POST">
    <input type="text" name="task" placeholder="Add task here..." autofocus autocomplete="off"><br>
    <button type="submit" class="btn" name="button" value="<%= title %>">Add Task</button>
   </form>
   <div class="list">
    <% if (newTasks) { %>
    <ul>
      <% for (let task of newTasks) { %>
        <li> <%= task %> </li>
    <%  } %> 
    </ul>
    <% } %> 
  </div>  
</div>

</body>


